:root {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.calcContainer {
  white-space: pre-wrap;
  margin: auto;
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: row;
  width: 280px;
}

.screensContainer {
  margin: auto;
  width: 270px;
  background-color:  rgba(111, 76, 182, 0.027);
  text-align: end;
  border: 1px solid rgba(111, 76, 182, 0.24);

}

h5 {
  margin: 0;
  font-weight: 100;
  padding-right: 5px;
}
h2 {
  margin: 0;
  font-weight: 300;
  padding-right: 5px;
} 
hr {
  max-width: 270px;
  border: 1px dashed rgba(111, 76, 182, 0.24);
  margin-bottom: 6px;
}

button {
  border: none;
  background: none;
  width: 65px;
  height: 65px;
  font-size: 25px;
  line-height: 0;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 2px;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.doublebutton {
  width: 134px;
}

button:hover,
.button:focus {
  border: 2px solid rgba(113, 78, 183, 0.4);
}

button:active {
  background-color: rgba(112, 76, 182, 0.2);
}
