.floatingButtons {
  position: fixed;
  right: 10px;
  top: 10px;
  display: grid;
}
.floatingButtons button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  padding: 0;
  margin: 8px;
  width: 40px;
  height: 40px;
}

.floatingButtons img {
  display: inline-block;
  vertical-align: top;
  padding: 1.5px;
}

.calcContainer {
  width: 332px;
  margin: auto;
  gap: 0.2rem;
}

.screensContainer {
  padding: 4px;
  margin: auto;
  width: 318px;
  background-color: var(--screen-bg-color);
  text-align: end;
  
  border: 1px solid var(--screen-hr-border-color);
}
/* 
h5 {
  margin: 0;
  max-width: 100%;
  font-size: 1.4rem;
  font-weight: 100;
  padding-right: 5px;
}
h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 300;
  padding-right: 5px;
} */
hr {
  width: 328px;
  border: 1px dashed var(--screen-hr-border-color);
}

button {
  border: none;
  background: none;
  width: 80px;
  height: 80px;
  font-size: 25px;
  line-height: 0;
  padding: 5px 12px 4px 12px;
  margin: 1.5px;
  border: 2px solid transparent;
  color: var(--btn-text-color);
  cursor: pointer;
  background-color: var(--btn-bg-color);
  border-radius: 2px;
  transition: all 0.15s;
}

.doublebutton {
  width: 163px;
}

button:hover,
.button:focus {
  border: 2px solid #714eb766;
}

button:active {
  background-color: #704cb633;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 500px;
  width: 95%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: var(--modal-bg-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  text-align: center;
  display: inline;
  padding-bottom: 10px;
}

.modalCloseBtn {
  width: 25px;
  height: 25px;
  font-size: 18px;
  text-align: cente;
  padding: 0 0 1px;
  position: fixed;
  top: 6px;
  right: 5px;
}
h5 {
  margin: 10px 10px 15px;
  text-decoration: underline 1px dashed;
}
p {
  margin: 5px;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .floatingButtons {
    display: flex;
  }
}
