:root {
  user-select: none;
  --backgroud-color: #282c34;
  --font-color: #ffff;
  --screen-bg-color: #6f4cb607;
  --screen-hr-border-color: #6f4cb63d;
  --btn-text-color: #704cb6;
  --btn-bg-color: #704cb61a;
  --modal-bg-color: #282c34;
}

[data-theme="light"] {
  --backgroud-color: #b7b6b6;
  --font-color: #363030fb;
  --screen-bg-color: #5425b30c;
  --screen-hr-border-color: #6f4cb63d;
  --btn-text-color: #704cb6;
  --btn-bg-color: #885ae423;
  --modal-bg-color: #b7b6b6;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App {
  text-align: center;
  background-color: var(--backgroud-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
}
